[project]
	description = Visual Studio context menu fix.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ilya Bobyr (ilya-bobyr)
[access "refs/for/refs/*"]
	read = group user/Ilya Bobyr (ilya-bobyr)
	push = group user/Ilya Bobyr (ilya-bobyr)
	label-Code-Review = -2..+2 group user/Ilya Bobyr (ilya-bobyr)
	label-Verified = -1..+1 group user/Ilya Bobyr (ilya-bobyr)
	rebase = group user/Ilya Bobyr (ilya-bobyr)
	removeReviewer = group user/Ilya Bobyr (ilya-bobyr)
	submit = group user/Ilya Bobyr (ilya-bobyr)
[access "refs/heads/*"]
	read = group user/Ilya Bobyr (ilya-bobyr)
	create = group user/Ilya Bobyr (ilya-bobyr)
	push = +force group user/Ilya Bobyr (ilya-bobyr)
	pushMerge = group user/Ilya Bobyr (ilya-bobyr)
[access "refs/tags/*"]
	push = +force group user/Ilya Bobyr (ilya-bobyr)
	pushTag = group user/Ilya Bobyr (ilya-bobyr)
	pushSignedTag = group user/Ilya Bobyr (ilya-bobyr)
